.combo-table-table-wrapper {
  width: 100%;
  height: 100%;
  background: var(--combo-table-background);
  backdrop-filter: blur(10px);
  border: 1px solid var(--combo-table-border);
  border-radius: 6px !important;
  padding: 1px;
  box-shadow: 0 0 0px 0 var(--combo-table-shadow);
  -webkit-box-shadow: 0 0 6px 0 var(--combo-table-shadow);
  padding-top: 0px;
  overflow: auto;
}

.combo-table-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
.combo-table-toolbar {
  background-color: var(--combo-table-secondary);
  display: flex;
  position: sticky;
  z-index: 250;
  height: 30px;
  top: 0px;
  justify-content: space-between;
}
.combo-table-header {
  position: sticky;
  z-index: 250;
  vertical-align: middle;
  text-align: left;
  padding: 4px;
  background: var(--combo-table-background);
  color: var(--combo-table-text);
  backdrop-filter: blur(100px);
  border-radius: 9px;
  border-bottom: 2px solid var(--combo-table-border);
  border-top: 1px solid var(--combo-table-border);
  top: 30px;
  box-shadow: blur(10px) 0px 0px 10px var(--combo-table-shadow);
}

.combo-table-header th {
  font-weight: normal;
  padding: 5px;
}

.combo-table-table-tab {
  z-index: 9650;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
  font-size: 13px;
  margin: 2px;
  padding: 0px;
  border-radius: 3px;
  position: relative;
  bottom: 2px;
  padding: 1px;
  background: var(--combo-table-background);
  color: var(--combo-table-text);
  box-shadow: 1px 1px 1px 0px var(--combo-table-shadow);
  border: 1px solid var(--combo-table-border);
}

.combo-table-table-tab:hover {
  color: var(--combo-table-primary);
}

.combo-table-title {
  font-size: 15px;
  font-weight: bold;
  color: var(--combo-table-text);
  padding-top: 5px;
  text-align: center;
}
.combo-table-row {
  border-bottom: 1px solid var(--combo-table-border);
  font-weight: normal;
  color: var(--combo-table-text);
  background-color: transparent;
}

.combo-table-row:hover {
  background-color: var(--combo-table-background-hover) !important;
}

.combo-table-cell {
  border: 1px solid var(--combo-table-border);
  text-align: left;
  padding: 6px;
  font-size: 13.5px;
}

.combo-table-table-check {
  opacity: 0.5;
  cursor: pointer;
  position: relative;
  top: 9px;
  left: 9px;
  box-shadow: 0 0 10px 0 var(--combo-table-shadow);
  backdrop-filter: blur(100px);
  width: 15px;
  height: 15px;
  text-align: center;
}

.combo-table-footer {
  position: sticky;
  z-index: 950;
  height: 37px;
  bottom: -5px;
  color: var(--combo-table-text);
  border: 1px solid var(--combo-table-border);
  background-color: var(--combo-table-background);
}

.combo-table-row:hover .combo-table-table-check {
  opacity: 1;
}

.combo-table-icon {
  cursor: pointer;
  position: relative;
  top: 8px;
  width: 18px;
  height: 18px;
  color: var(--combo-table-text);
  padding: 2px;
  margin: 2px;
}

.combo-table-icon:hover {
  background-color: var(--combo-table-background);
  border-radius: 4px;
}

.combo-table-open-handle {
  cursor: pointer;
  position: absolute;
  left: 70px;
  width: 50px;
  height: 20px;
  border: 1px solid #eee;
  background-color: var(--combo-table-background);
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  color: var(--combo-table-primary);
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  z-index: 1000;
  animation: combo-table-growIn 0.14s ease-in;
}

.combo-table-open-handle:hover {
  background-color: var(--combo-table-background-hover);
}

.combo-table-hide-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.combo-table-loader {
  height: 30px;
  width: 9px;
  border-radius: 8px;
  position: absolute;
  color: var(--combo-table-primary);
  background: var(--combo-table-primary);
  left: 50%;
  top: 50%;
  z-index: 1000;
  animation: comboht 0.5s ease-in infinite alternate;
  box-shadow: 15px 0 0 -1px, -15px 0 0 -1px, 30px 0 0 -2px, -30px 0 0 -2px, 45px 0 0 -3px, -45px 0 0 -3px;
}

.combo-table-border-bottom {
  border-bottom: 1px solid var(--combo-table-border);
}
@keyframes comboht {
  0% {
    transform: rotate(0deg);
  }
  100% {
    height: 0px;
  }
}

@keyframes combo-table-growIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes combo-table-fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
