:root {
  --combo-table-primary: #04bdd6;
  --combo-table-secondary: #f2f4f9;
  --combo-table-border: #d6e2e457;
  --combo-table-text: #39494b;
  --combo-table-background: #fff;
  --combo-table-background-hover: #f2f4f9;
  --combo-table-shadow: #c5d5d8b3;
}
